<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style=" width:700px">
            <div class="card-header">
                <img src="/img/logo.ico" alt="logo" class="card-img-top mx-auto m-2 rounded-circle"
                style="width:150px; heigth: 150px; display:block">
                <h3 class="text-uppercase text-center p-4">CRUD NODE JS MYSQL</h3>
                <div class="card-body text-center">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas cum fugit, sunt est accusantium aut esse enim sequi, ratione laborum, explicabo laudantium amet corrupti perferendis porro ex nulla numquam eos. </p>
                    <a href="" class="btn btn-primary"> crear una persona </a>
                </div>
            </div>
        </div>
    </div>
</main>